@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
html {
  background-color: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

#title {
  text-size-adjust: none;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 74pt;
  background-color: #ff0000a6;
  text-align: center;
  height: 13vh;
}

/* START MORE BUTTON
*
*
*
*
*/
.morebtn {
  float: left;
  left: 0px;
  top: 74px;
  position: absolute;
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  font-size: 15px;
  border: solid #ff0000a6;
}

.dropmore {
  float: left;
}

.dropmore-content {
  display: none;
  top: 74px;
  left: 2px;
  position: absolute;
  background-color: #888888;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropmore-content a {
  color: #ffffffc5;
  padding: 12px 16px;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.dropmore-content a:hover {
  background-color: rgba(255, 0, 0, 0.226);
}

.dropmore:hover .dropmore-content {
  display: block;
}

.dropmore:hover .morebtn {
  background-color: #ffffff;
}
/*
*
*
END MORE BUTTON */

/* START MENU BUTTON
  *
  *
  *
  *
   */
.menubtn {
  float: right;
  left: 1820px;
  top: 74px;
  position: absolute;
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  font-size: 15px;
  border: solid #ff0000a6;
}

.dropmenu {
  float: right;
  /* display: inline-block; */
}

.dropmenu-content {
  display: none;
  top: 74px;
  left: 1760px;
  position: absolute;
  background-color: #888888;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropmenu-content a {
  color: #ffffffc5;
  padding: 12px 16px;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.dropmenu-content a:hover {
  background-color: rgba(255, 0, 0, 0.226);
}

.dropmenu:hover .dropmenu-content {
  display: block;
}

.dropmenu:hover .menubtn {
  background-color: #ffffff;
}
/* 
  *
  *
  *
  *
  *
  /* END MENU BUTTON */

.auth {
  background-color: black;
  border-left: 1px solid #ff0000a6;
  border-right: 1px solid #ff0000a6;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  height: 77vh;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.credentials {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  padding: 40px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  /* visibility: hidden; */
}

.modal-container3 {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  height: 70vh;
  padding: 40px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  visibility: hidden;
}

.modal {
  max-width: 800px;
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
}

.modal input[class="password"],
.modal input[class="email"],
.modal input[class="firstName"],
.modal input[class="lastName"],
.modal input[class="username"],
.modal button[class="login"],
.modal button[class="signup"],
.modal button[class="signupSub"] {
  font: 400 12px/16px "rye", cursive;
}
.modal button[class="login"],
.modal button[class="signup"],
.modal button[class="signupSub"] {
  font: 400 12px/16px "rye", cursive;
}

.modal {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 40px 0 rgb(255, 0, 0), 0 5px 5px 0 rgb(255, 255, 255);
}

.modal h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

.modal h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.modal input[class="password"],
.modal input[class="email"],
.modal input[class="firstName"],
.modal input[class="lastName"],
.modal input[class="username"],
.modal textarea {
  width: 100%;
  border: solid #ff0000a6;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
}
.modal input[class="password"]:hover,
.modal input[class="email"]:hover,
.modal input[class="firstName"]:hover,
.modal input[class="lastName"]:hover,
.modal input[class="username"]:hover,
.modal textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.modal textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.modal button[class="login"],
.modal button[class="signup"],
.modal button[class="signupSub"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgba(255, 0, 0, 0.644);
  color: #000000;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.modal button[class="login"]:hover,
.modal button[class="signup"]:hover,
.modal button[class="signupSub"]:hover {
  background: #ff0000;
  border: 1px solid rgb(197, 0, 0);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.modal button[class="login"]:active,
.modal button[class="signup"]:active,
.modal button[class="signupSub"]:active {
  box-shadow: inset 0 1px 3px rgba(255, 0, 0, 0.5);
}

.modal button[class="login"],
.modal button[class="signup"],
.modal button[class="signupSub"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgba(255, 0, 0, 0.644);
  color: #000000;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.modal button[class="login"]:hover,
.modal button[class="signup"]:hover,
.modal button[class="signupSub"]:hover {
  background: #ff0000;
  border: 1px solid rgb(197, 0, 0);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.modal button[class="login"]:active,
.modal button[class="signup"]:active,
.modal button[class="signupSub"]:active {
  box-shadow: inset 0 1px 3px rgba(255, 0, 0, 0.5);
}

.modal input:focus,
.modal textarea:focus {
  outline: 0;
  border: 2px solid rgb(197, 0, 0);
}
::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

footer {
  background-color: #ff0000a6;
  height: 10vh;
  display: flex;
  flex-flow: row;
  flex-direction: column;
  justify-content: center;
}
